@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --Scissors: hsl(39, 89%, 49%);
    --Paper: hsl(230, 89%, 62%);
    --Rock: hsl(349, 71%, 52%);
    --Lizard: hsl(261, 73%, 60%);
    --Cyan: hsl(189, 59%, 53%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --Radial: hsl(214, 47%, 23%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --footer-color: hsl(238, 40%, 48%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body,
html {
    height: 100%;
    background-color: var(--Radial);
}

main {
    position: relative;
    height: 65%;
}

.wrapper {
    height: 100%;
}


header {
    padding: 3rem 0;
}

.title-point__container {
    width: 85%;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--Header-Outline);
}

.title-point__container .point__container {
    width: 30%;
    padding: 0.5rem 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: var(--White);
}

.title-point__container .title__container>p,
.title-point__container .point__container>p {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1rem;
}

.title-point__container .title__container>p {
    color: var(--White);
}

.title-point__container .point__container>p {
    padding: 0.2rem 0;
}

.title-point__container .point__container>p:nth-of-type(1) {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: var(--Score-Text);
}

.title-point__container .point__container>p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: bold;
    color: var(--Black);
}

.game-choice__main-container {
    height: 55%;
    margin: 1rem 0;
}

.game-choice__main-container .game-choice__triangle-container {
    height: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.game-choice__main-container .game-choice__triangle-container>img {
    height: 75%;
}

.game-choice__main-container .game-choice__option-container {
    height: 100%;
    align-items: center;
    row-gap: 3rem;
    cursor: pointer;
}

.game-choice__main-container .game-choice__option-container .btn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: var(--White);
}

.game-choice__option-container .btn-container.scissor-container {
    left: 5%;
    transform: translate(-5%);
}

.game-choice__option-container .btn-container.paper-container {
    left: 95%;
    transform: translate(-95%);
}

.game-choice__option-container .btn-container.rock-container {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.game-choice__main-container .game-choice__option-container .btn-container>p {
    padding: 0.75rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.game-choice__main-container .game-choice__option-container .btn-container>button {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--White);
    z-index: 999;
}

.game-choice__main-container .game-choice__option-container .btn-container>button.choice-scissors {
    left: 5%;
    background-image: url('../../images/icon-scissors.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1rem solid var(--Scissors);
}

.game-choice__main-container .game-choice__option-container .btn-container>button.choice-paper {
    background-image: url('../../images/icon-paper.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1rem solid var(--Paper);
}

.game-choice__main-container .game-choice__option-container .btn-container>button.choice-rock {
    background-image: url('../../images/icon-rock.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1rem solid var(--Rock);
}

.game__result-container {
    padding: 3rem 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game__result-container>p {
    padding: 0.5rem 0;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--White);
}

.game__result-container>button {
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--White);
    color: var(--Dark-Text);
    cursor: pointer;
}

.game__rules-container {
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.game__rules-container>button {
    width: 30%;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 0.5rem;
    outline: none;
    color: var(--White);
    background: none;
    cursor: pointer;
}

.game-rule__overlay-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.game-rule__overlay-container.show {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: show 0.5s ease-in-out;
}

.game-rule__icon {
    font-size: 2rem;
    font-weight: bold;
    color: var(--Black);
    cursor: pointer;
}

.game-rule__overlay-content {
    width: 100%;
    height: 60%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--White);

}

.game-rule__overlay-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-rule__overlay-image > img{
    width: 310px;
    height: 300px;
}



/*JS CSS */

.game-choice__main-container.recreate {
    height: 55%;
}

.game-choice__main-container .game-choice__triangle-container.recreate {
    display: block;
}

.game-choice__main-container .game-choice__option-container .btn-container.computer-choice {
    top: 0;
    left: 95%;
    transform: translate(-95%);
}

.game-choice__main-container.animate-height {
    animation: adjustHeight 1s forwards ease-in-out;
}

.game-choice__main-container .game-choice__triangle-container.animate-opacity {
    animation: hide 1s forwards ease-in-out;
}

.game__rules-container.animate-opacity {
    animation: hide 1s forwards ease-in-out;
}

.moveOpponentChoice {
    animation: moveOpponentChoice 1s forwards ease-in-out;
}

.movePlayerChoice {
    animation: movePlayerChoice 1s forwards ease-in-out;
}

.game__result-container.show-result {
    display: flex;
    animation: show 1.5s forwards ease-in-out
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-color);
    z-index: 999;
}

.footer__container {
    padding: 1.5rem;
    text-align: center;
    color: var(--White);
}

.footer__container .footer__text-container>p {
    padding: 0.5rem 0;
}

.footer__container .footer__text-container>p:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: oblique;
}

.footer__container .footer__text-container>p:nth-of-type(2) {
    font-size: 1rem;
}


.footer__container .icon__container {
    padding: 1rem 0;
}

.footer__container .icon__container>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__container .icon__container>ul>li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer__container .icon__container>ul>li>a {
    color: var(--White)
}

.footer__container .icon__container>ul>li>a>i {
    font-size: 1.5rem;
}


@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes movePlayerChoice {
    to {
        top: 0;
        left: 5%;
        transform: translate(-5%);
    }
}

@keyframes moveOpponentChoice {
    to {
        opacity: 0;
        top: 0;
        left: 95%;
        transform: translate(-95%);

    }
}

@keyframes adjustHeight {
    to {
        height: 30%;
    }
}

@media only screen and (max-width: 400px) {
    .game-choice__main-container .game-choice__triangle-container>img {
        height: 90%;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button {
        width: 120px;
        height: 120px;
    }

    .game-choice__option-container .btn-container.rock-container {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    @keyframes adjustHeight {
        to {
            height: 40%;
        }
    }
}

@media only screen and (min-width: 700px) {
    main {
        height: 80%;
    }

    .title-point__container {
        width: 65%;
    }

    .title-point__container .point__container {
        width: 20%;
    }

    .game-choice__main-container {
        height: 45%;
    }

    .game-choice__main-container .game-choice__triangle-container>img {
        height: 60%;
    }

    .game-choice__main-container .game-choice__option-container .btn-container.scissor-container {
        left: 25%;
        transform: translate(-25%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.paper-container {
        left: 75%;
        transform: translate(-75%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.rock-container {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.computer-choice {
        top: 0;
        left: 75%;
        transform: translate(-75%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-scissors {
        background-size: 65px 65px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-paper {
        background-size: 65px 65px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-rock {
        background-size: 65px 65px;
    }


    .game-choice__main-container .game-choice__option-container .btn-container>button {
        width: 170px;
        height: 170px;
    }

    .game-rule__overlay-container .game-rule__overlay-content {
        width: 80%;
        height: 50%;
    }


    /* JS Class */
    .game-choice__main-container.recreate {
        height: 45%;
    }
    

    @keyframes adjustHeight {
        to {
            height: 20%;
        }
    }

    @keyframes moveOpponentChoice {
        to {
            opacity: 0;
            top: 0;
            left: 75%;
            transform: translate(-75%);

        }
    }

    @keyframes movePlayerChoice {
        to {
            top: 0;
            left: 25%;
            transform: translate(-25%);
        }
    }
}



@media only screen and (min-width: 1200px) {
    main {
        height: 70%;
    }

    .title-point__container {
        width: 50%;
    }

    .title-point__container .point__container {
        width: 15%;
    }

    .game-choice__main-container {
        height: 60%;
    }

    .game-choice__main-container .game-choice__triangle-container>img {
        height: 100%;
    }

    .game-choice__main-container .game-choice__option-container .btn-container.scissor-container {
        left: 35%;
        transform: translate(-35%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.paper-container {
        left: 65%;
        transform: translate(-65%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.rock-container {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
    }


    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-scissors {
        background-size: 55px 55px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-paper {
        background-size: 55px 55px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-rock {
        background-size: 55px 55px;
    }


    .game-choice__main-container .game-choice__option-container .btn-container>button {
        width: 150px;
        height: 150px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container.computer-choice {
        top: 0;
        left: 65%;
        transform: translate(-65%);
    }


    .game__result-container>button {
        width: 40%;
    }

    .game-rule__overlay-container .game-rule__overlay-content {
        width: 50%;
        height: 50%;
    }


    /* JS Class */
    .game-choice__main-container.recreate {
        height: 60%;
    }

    @keyframes adjustHeight {
        to {
            height: 30%;
        }
    }

    @keyframes moveOpponentChoice {
        to {
            opacity: 0;
            top: 0;
            left: 65%;
            transform: translate(-65%);

        }
    }

    @keyframes movePlayerChoice {
        to {
            top: 0;
            left: 35%;
            transform: translate(-35%);
        }
    }
}

@media only screen and (min-width: 1700px) {
    .title-point__container {
        width: 45%;
    }

    .title-point__container .title__container>p,
    .title-point__container .point__container>p {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.75rem;
    }

    .title-point__container .point__container>p:nth-of-type(1) {
        font-size: 1.25rem;
    }

    .title-point__container .point__container>p:nth-of-type(2) {
        font-size: 2.5rem;
    }


    .title-point__container .point__container {
        width: 15%;
    }

    .game-choice__main-container {
        height: 60%;
    }

    .game-choice__main-container .game-choice__triangle-container>img {
        height: 100%;
    }

    .game-choice__main-container .game-choice__option-container .btn-container.scissor-container {
        left: 35%;
        transform: translate(-35%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.paper-container {
        left: 65%;
        transform: translate(-65%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container.rock-container {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-scissors {
        background-size: 75px 75px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-paper {
        background-size: 75px 75px;
    }

    .game-choice__main-container .game-choice__option-container .btn-container>button.choice-rock {
        background-size: 75px 75px;
    }


    .game-choice__main-container .game-choice__option-container .btn-container>button {
        width: 200px;
        height: 200px;
    }


    .game-choice__main-container .game-choice__option-container .btn-container.computer-choice {
        top: 0;
        left: 65%;
        transform: translate(-65%);
    }

    .game__result-container>button {
        width: 35%;
    }

    .game-rule__overlay-container .game-rule__overlay-content {
        width: 30%;
        height: 50%;
    }

    /* JS Class */
    .game-choice__main-container.recreate {
        height: 60%;
    }

    @keyframes adjustHeight {
        to {
            height: 25%;
        }
    }

    @keyframes moveOpponentChoice {
        to {
            opacity: 0;
            top: 0;
            left: 65%;
            transform: translate(-65%);

        }
    }

    @keyframes movePlayerChoice {
        to {
            top: 0;
            left: 35%;
            transform: translate(-35%);
        }
    }
}